@model Ext_Dynamic_Form.Models.Country
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h2>Create Country</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="CountryName" class="control-label"></label>
        <input asp-for="CountryName" class="form-control" />
        <span asp-validation-for="CountryName" class="text-danger"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-success">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}