@model Ext_Dynamic_Form.Models.Country
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Country</h2>

<form asp-action="Edit" asp-controller="Country" method="post">
    <input type="hidden" asp-for="ID" />

    <div class="form-group">
        <label asp-for="CountryName" class="control-label"></label>
        <input asp-for="CountryName" class="form-control" />
        <span asp-validation-for="CountryName" class="text-danger"></span>
    </div>

    <br />
    <button type="submit" class="btn btn-primary">Update</button>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}