@model List<Ext_Dynamic_Form.Models.ActivityDetail>

@{
    ViewData["Title"] = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Select Activity</h2>

<div class="form-group">
    <select id="activityDropdown" class="form-control">
        <option value="">-- Select Activity --</option>
        @foreach (var act in ViewBag.Activities)
        {
            <option value="@act.ID">@act.Title</option>
        }
    </select>
</div>


<h3 id="formTitle" class="mt-3 text-primary"></h3>


<div id="dynamic-form-container" class="mt-4"></div>

<div id="submittedDataSection" class="mt-5" >
    <h4>Entered Values</h4>
    <table class="table table-bordered" id="submittedDataTable">
        <thead>
            <tr>
                <th>#</th>
                <th>Field</th>
                <th>Value</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="submittedDataBody"></tbody>
    </table>
    <button type="button" id="saveToDb" class="btn btn-success">Save to Database</button>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {

            
            $("#activityDropdown").change(function () {
                var activityId = $(this).val();
                var activityTitle = $("#activityDropdown option:selected").text();

                if (activityId) {
                    $("#formTitle").text("Activity: " + activityTitle);

                    $("#dynamic-form-container").html("");
                    $("#submittedDataHeader").empty();
                    $("#submittedDataBody").empty();
                    $("#submittedDataSection").hide();

                    $.get("/Home/GetFormByActivityId", { activityId: activityId }, function (data) {
                        $("#dynamic-form-container").html(data);
                    });
                } else {
                    $("#formTitle").text("");
                    $("#dynamic-form-container").html("");
                    $("#submittedDataSection").hide();
                }
            });

            $(document).on("submit", "#dynamicForm", function (e) {
                e.preventDefault();

                var formData = $(this).serializeArray();

                $.each(formData, function (i, field) {
                    var rowCount = $("#submittedDataBody tr").length + 1;
                    var row = "<tr data-row='" + rowCount + "'>";
                    row += "<td>" + rowCount + "</td>";
                    row += "<td>" + field.name + "</td>";
                    row += "<td>" + (field.value || "-") + "</td>";
                    row += "<td>" +
                        "<button type='button' class='btn btn-sm btn-warning editBtn'>Edit</button> " +
                        "<button type='button' class='btn btn-sm btn-danger deleteBtn'>Delete</button>" +
                        "</td></tr>";

                    $("#submittedDataBody").append(row);
                });

                $("#submittedDataSection").show();
                $("#dynamicForm")[0].reset();
            });

            $(document).on("click", "#saveToDb", function () {
                var activityId = $("input[name='ActivityId']").val();

                var submissions = [];
                $("#submittedDataBody tr").each(function () {
                    var fieldName = $(this).find("td:eq(1)").text();
                    var fieldValue = $(this).find("td:eq(2)").text();

                    submissions.push({
                        ActivityId: activityId,
                        FieldName: fieldName,
                        FieldValue: fieldValue
                    });
                });

                if (submissions.length === 0) {
                    alert("No data to save!");
                    return;
                }

                $.ajax({
                    url: "/Home/SaveFormData",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify(submissions),
                    success: function (res) {
                        if (res.success) {
                            alert("Data saved successfully!");
                            $("#submittedDataBody").empty();
                            $("#submittedDataSection").hide();
                        } else {
                            alert("Error: " + res.message);
                        }
                    },
                    error: function () {
                        alert("An error occurred while saving data.");
                    }
                });
            });

            $(document).on("click", ".deleteBtn", function () {
                $(this).closest("tr").remove();

                
                $("#submittedDataBody tr").each(function (index) {
                    $(this).find("td:first").text(index + 1);
                });

                if ($("#submittedDataBody tr").length === 0) {
                    $("#submittedDataSection").hide();
                }
            });

            
            $(document).on("click", ".editBtn", function () {
                var $row = $(this).closest("tr");
                var fieldName = $row.find("td:eq(1)").text();
                var fieldValue = $row.find("td:eq(2)").text();

                $("#dynamicForm [name='" + fieldName + "']").val(fieldValue);

                $row.remove();

                $("#submittedDataBody tr").each(function (index) {
                    $(this).find("td:first").text(index + 1);
                });
            });

        });
    </script>
}
